@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  /*Can be any text*/
  src: local("AvenirNextLTPro-Regular"),
    url("./assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "It";
  /*Can be any text*/
  src: local("AvenirNextLTPro-It"),
    url("./assets/fonts/AvenirNextLTPro-It.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  /*Can be any text*/
  src: local("AvenirNextLTPro-Bold"),
    url("./assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
}



*,
html,
body,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: inherit;
}

body {
  margin: 0;
  padding: 0;
  // font-family: "AvenirNext", sans-serif;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}


.dashboard_box_shadow {
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}

.noScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &.white-scrollbar {
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}